@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
}

.search-container form {
    display: flex;
}

.search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-container button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #ff6200;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #45a049;
}

.search-container input[type="text"]:focus {
    border-color: #4CAF50;
}

body {
    background: #f3f3f3;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align container to the right */
    min-height: 90vh;
    margin-right: 35px; /* Add margin to create space from the right edge */
}

.login-image {
    max-width: 385px;
    height: auto;
    margin-right: 600px; /* Add margin to create space from the form */
}

.Register-image {
    max-width: 395px;
    height: auto;
    margin-right: 512px; /* Add margin to create space from the form */
}


.box {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.form-box {
    width: 520px;
    margin: 0px 10px;
}

.form-box header {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.form-box form .field {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.btn {
    display: inline-block;
    background: #26D6E0;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    padding: 10px 20px; /* Adjusted padding for wider buttons */
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    width: 48%; /* Adjusted width for less spacing */
    text-align: center; /* Ensures text is centered */
}

.btn:hover {
    opacity: 0.82;
}

.submit {
    width: 100%;
}

.links {
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button:hover {
    background-color: #3795BD;
  }

